:host{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.container-fluid > .row{
  height: 100vh;
}

textarea{
  min-height: 50vh;
}

.btn-close, .link-primary{
  width: 100%;
  display: block;
}